{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/cab.css') }}">
{% endblock %}
{% block body %}

    <div class="container white" style="padding: 15px">
        <a href="">
            <button type="submit" class="btn waves-effect waves-light right" value="Check" >My Trips
            </button>
        </a>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn waves-effect waves-light btn_cab_check" value="Check" >Check !
        <i class="material-icons right">send</i>
    </button>
    {{ form_end(form) }}

    </div>
{% endblock %}
