{% extends 'base.html.twig' %}

{% block body %}
    <h3>Course creation</h3>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Check" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('course_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
