section:first-child{
    height: 15vh;
    position: relative;
}

#cab h3{
    color: #ffdd00;
    text-transform: uppercase;
    font-weight: bold;
    margin: auto;
    text-shadow: 2px 2px 2px black;
}

main {
    padding: 0 0 200px 0;
    background: url(../img/taxi.jpg) fixed;
    background-size: cover;
    z-index: 1;
}

.container {
    opacity: 0.9;
    border-radius:  5px;
}
label {
    font-size: 22px;
}

.btn_cab_check{
    width: 100%;
}

.driver {
   border-top: 2px solid #2bbbad;

}
.driver div {
    text-align: center;
    margin: 0;
}
.row_driver .col.s12{
    padding: 0!important;
}

.h2, .h3, .h4, .h5 {
    color: #2bbbad;
    text-align: center;
}
.container .h4 {
    color: #2bbbad;
    text-align: center;
}