{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/service.css') }}">
{% endblock %}

{% trans_default_domain 'service' %}
{% block body %}
    <section id="food" class="valign-wrapper last">
        <h3 class="valign">{{ 'homepage.food-hashtag' |trans({}, 'homepage') }}</h3>
    </section>
    <section id="serviceList">
    <div class="row">
    {% for service in services %}
        <div class="col s10 offset-s1 z-depth-3 rowList">
            {{ service.name }}
        </div>
    {% endfor %}
    </div>
    </section>
{% endblock %}
